/*
 *= require_self
 //= require foundation_and_overrides

 */
@import "foundation_and_overrides";

.note {
  border: 1px solid #ccc;
  height: 150px;
}

.view-note {
  padding-left: 15px;
  padding-right: 15px;
}

.docs { 
  .columns {
    height: 150px;

    p.preview {
      color: #ccc;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 0.8em;
      
    }

  }
}
