%nav.top-bar(data-topbar-role="navigation")
  %ul.title-area
    %li.name
      %h1 
        %a(href='#') draftmark.co
  %section(class='top-bar-section')
    %ul.left
      %li.has-form
        .row.collapse
          .large-8.large-9.columns
            %input(type='text' placeholder='Search...')

    %ul.right
      %li.has-form
        %a(href='#' class='button') Logout
